html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Music App
        
        link(rel='stylesheet' type='text/css' href='/public/music.css')
    body
        .container
            .table-container
            table.albumTable
                th Traack
                th Song
                th Artist
                th Album
                th Year
                th Play
            .playerContainer

                .display
                    img#albumC(src=art alt='album cover')
                    .timeDisplay
                        .timeBarContainer
                            p#elapse.songTime
                            .timeBar
                                .bar#progBar
                            p#songDur.songTime
                        

                    .controls
                        .playbox
                            #playBtn.play
                            .reflect
                            .playRef
                        .pausebox
                            #pauseBtn.pause
                                .PA.center
                                .PB.center
                            .reflect
                            .pause
                                .PAref.center
                                .PBref.center
                        .stopbox
                            #stopBtn.stop
                            .reflect
                            .stopRef
                    h2.displayHeader  #{artist}
                    h2.displayHeader  #{album}
                    h2.displayHeader  #{title}
                    //- h2.displayHeader Track: #{track}
                    //- audio#player(src="/public/Music/Pink_Floyd/WishYouWereHere/ShineOnYouCrazyDiamond(PartsI-V).mp3")
                .extraControls
                    .iconContainer
                        .iconRow
                            img#plusIcon.icon(src='/public/images/white-plus-icon.png' alt='white-plus-icon')
                            .label#pluslabel Create Playlist
                        .iconRow
                            img#listIcon.icon(src='/public/images/white-list-icon.png' alt='white-list-icon')
                            .label#listlabel Album Playlist
                        .iconRow
                            img#visIcon.icon(src='/public/images/white-audiowave-icon.png' alt='white-audiowave-icon')
                            .label#vislabel Audio Visualizer
                        .iconRow
                            img#speakerIcon.icon(src='/public/images/speaker-filled-audio-tool.png' alt='https://www.flaticon.com/free-icons/speaker')
                            .label#speakerlabel Volume Control
                .volumeContainer.volShow#volShowControl
                    h3.volumeLabel#volLabel
                    .plusMinusVol#plus + 
                    .volume
                        .volBar#volControl
                    .plusMinusVol#minus -
                    h3.volumeLabel.mute#mute Mute
            script(type='text/javascript' src='/public/js/music-controls.js')
            
            script(type='text/javascript').
                createMusicPlayer("/public/Music/Pink_Floyd/WishYouWereHere/ShineOnYouCrazyDiamond(PartsI-V).mp3")
                

