html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Music App
        
        link(rel='stylesheet' type='text/css' href='/public/music.css')
    body
        .musicLibrary
            
            .musicLibraryContainer.hideMusicLibrary
                h2.choose Choose Artist and Album
                .artistCascade
            
                each item in musicLibrary
                    .artistContainer
                        .artistChoice=item.artist
                        .albumChoices
                            each album in item.albums
                                .albumContainer
                                    .chooseAlbum.bottomLine=album
                           
                           
            .drawer
                .drawerSwitch#switch
                    .switchBar 
                    .switchBar

        .container
            //- p.tempText #{temp}
            //- .table-container
            table.albumTable.tableHide#albumInfo
                tr
                    th.fileColumn file 
                    th Track
                    th Song
                    th Artist
                    th Album
                    th Year
                    //- th #{temp}
                each song in tableArray
                    tr.albumRow
                    
                        td.fileColumn=song[5]
                        td.trackColumn=song[0]
                        td.songColumn=song[2]
                        td.artistColumn=song[1]
                        td.albumColumn=song[3]
                        td.yearColumn=song[4]
                        td.playColumn
                            .playBtn
                        

            .visContainer#openVisContainer
                .closeContainer
                    .closeBtn#closeBtnId X
                .visualizer#vis       
            .playerContainer

                .display
                    img#albumC(src=art alt='album cover')
                    .timeDisplay
                        .timeBarContainer
                            p#elapse.songTime
                            .timeBar
                                .bar#progBar
                            p#songDur.songTime
                        

                    .controls
                        .prevBox
                            #prevBtn.prev
                                .prevA.center
                                .prevB.center
                                .prevC.center
                            .reflect
                            .prev
                                .prevARef.center
                                .prevBRef.center
                                .prevCRef.center
                        .playbox
                            #playBtn.play
                            .reflect
                            .playRef
                        .pausebox
                            #pauseBtn.pause
                                .PA.center
                                .PB.center
                            .reflect
                            .pause
                                .PAref.center
                                .PBref.center
                        .stopbox
                            #stopBtn.stop
                            .reflect
                            .stopRef
                        .nextBox
                            #nextBtn.next
                                .nextA.center
                                .nextB.center
                                .nextC.center
                            .reflect
                            .next
                                .nextARef.center
                                .nextBRef.center
                                .nextCRef.center
                    h2.displayHeader#artistHeader  #{artist}
                    h2.displayHeader#albumHeader   #{album}
                    h2.displayHeader#titleHeader   #{title}
                    //- h2.displayHeader Track: #{track}
                    //- audio#player(src="/public/Music/Pink_Floyd/Wish You Were Here/ShineOnYouCrazyDiamond(PartsI-V).mp3")
                .extraControls
                    .iconContainer
                        .iconRow
                            img#plusIcon.icon(src='/public/images/white-plus-icon.png' alt='white-plus-icon')
                            .label#pluslabel Create Playlist
                        .iconRow
                            img#listIcon.icon(src='/public/images/white-list-icon.png' alt='white-list-icon')
                            .label#listLabel Album Playlist
                        .iconRow
                            img#visIcon.icon(src='/public/images/white-audiowave-icon.png' alt='white-audiowave-icon')
                            .label#vislabel Audio Visualizer
                        .iconRow
                            img#speakerIcon.icon(src='/public/images/speaker-filled-audio-tool.png' alt='https://www.flaticon.com/free-icons/speaker')
                            .label#speakerlabel Volume Control
                .volumeContainer.volShow#volShowControl
                    h3.volumeLabel#volLabel
                    .plusMinusVol#plus + 
                    .volume
                        .volBar#volControl
                    .plusMinusVol#minus -
                    h3.volumeLabel.mute#mute Mute

            

            script(type='text/javascript' src='/public/js/jquery.js')
            script(type='text/javascript' src='http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js')
            script(type='text/javascript' src='/public/js/music-controls.js')
            
            script(type='text/javascript').
                var songPath= !{JSON.stringify(path)}
                console.log(songPath)
                    createMusicPlayer(songPath)
               
                
                

