html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Music App
        link(rel='stylesheet' type='text/css' href='/public/music.css')
    body
        .container
            .display
                img#albumC(src=art alt='album cover')
                .controls
                    .playbox
                        .play
                        .reflect
                        .playRef
                    .pausebox
                        .pause
                            .PA.center
                            .PB.center
                        .reflect
                        .pause
                            .PAref.center
                            .PBref.center
                    .stopbox
                        .stop
                        .reflect
                        .stopRef
                h2.displayHeader  #{artist}
                h2.displayHeader  #{album}
                h2.displayHeader  #{title}
                //- h2.displayHeader Track: #{track}
                audio(controls src="/public/Music/Pink_Floyd/WishYouWereHere/ShineOnYouCrazyDiamond(PartsI-V).mp3")